[submodule ".SpaceVim"]
	path = .SpaceVim
	url = https://github.com/SpaceVim/SpaceVim.git
[submodule "scripts/ColorScheme-Mapper"]
	path = scripts/ColorScheme-Mapper
	url = git@github.com:abstracted/ColorScheme-Mapper.git
